@media (max-width: 650px) { // экрна повёрнут
  .block-menu_main_list .list_item_menu {
    a {
      font-size: 15px;
      max-width: 102px;
      line-height: 15px;
      padding: 15px 70px;
    }
  }
  .block-list-items .panel_data p {
    min-height: 30px;
    line-height: 30px;
    max-height: 30px;
    font-size: 12px;
    &.bl-date{
      min-width: 123px;
    }
    &.bl-time{
      min-width: 101px;
    }
    &.bl-maps {
      background-size: 30px auto;
      max-width: 100%;
      text-align: center;
    }
    span {
      padding-left: 20px;
      &:before {
        width: 15px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 320px) { //iPhone4
  .block-menu_main_list .list_item_menu{
    a {
      font-size: 15px;
      max-width: 102px;
      line-height: 15px;
      padding: 15px 70px;
    }
    &:first-child{
      a {padding-top: 15px;}
    }
  }
  .block_title_page {
    max-width: 68%;
  }
  .block-list-items .panel_data{
    p {
      min-height: 20px;
      line-height: 20px;
      max-height: 20px;
      font-weight: lighter;
      font-size: 11px;
      margin-left: 2px;
      span {
        padding-left: 15px;
        font-size: 0;
        &:before {
          width: 12px;
          height: 20px;
        }
      }
      &.bl-maps{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-left: -1px;
        margin-top: 3px;
        &:before{
          display: none;
        }
        span:before {
          background-size: 11px auto;
        }
      }
    }
  }
}