#sb-site {
  overflow: hidden;
  padding: 131px 0 30px 0;
  @include box-shadow(0 0 1px 0px rgba(0,0,0,0.3));
  @include transition(0.3s);
  &.page_item{
    padding-top: 50px;
  }
  &.page_cat,
  &.page_action{
    padding-top: 131px;
  }
}

.sb-init.mini-header{
  #sb-site{
    padding-top: 50px;
  }
}

#adverts {
  margin-top: 20px;
}

.advert {
  border-radius: 3px;
  border: 1px solid #727272;
  margin-bottom: 10px;
  padding: 3px;
}

.navbar {
  box-shadow: /* Shadow beneath the bar and edge highlights. */
    /* Layered single pixel shadows to create a one sided shadow effect. */
  0 5px 0 0 rgba(0, 0, 0, 0.01),
  0 4px 0 0 rgba(0, 0, 0, 0.02),
  0 3px 0 0 rgba(0, 0, 0, 0.04),
  0 2px 0 0 rgba(0, 0, 0, 0.06),
  0 1px 0 0 rgba(0, 0, 0, 0.08),
    /* Top highlight */
  0 1px 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Left highlight */
  1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Right highlight */
  -1px 0 0 0 rgba(255, 255, 255, 0.1) inset,
    /* Bottom lowlight */
  0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;

  background-color: #E6782D;
  background-size: 100%;
  background-repeat: no-repeat;

  /* Bootstrap Changes */
  border: none;
  width: 100%;
  left: auto;
  right: auto;
}

#logo {
  margin-top: 4px;
  text-align: center;
}

#top-arrow {
  padding-top: 17px;
  padding-bottom: 13px;
}

.navbar{
  .sb-toggle-left,
  .sb-toggle-back,
  .sb-toggle-sharing,
  .sb-toggle-search {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 58px;
  }
  .sb-toggle-back,
  .sb-toggle-left {
    float: left;
    padding: 14px;
    left: 0;
  }
  .sb-toggle-sharing,
  .sb-toggle-search {
    float: right;
    padding: 14px;
    margin-right: 5px;
    height: 50px;
    margin-top: -4px;
    right: 0;
  }
}

.sb-toggle-left,
.sb-toggle-search,
.sb-toggle-back,
.sb-toggle-sharing,
.sb-open-left,
.sb-open-right,
.sb-close,
.sb-toggle-search {
  cursor: pointer;
}

.sb-right {
  margin-top: 131px;
}

.sb-init{
  .sb-right {
    margin-top: 131px;
  }
}

.mini-header.sb-active-right{
  .sb-right {
    margin-top: 50px;
  }
}

.navicon-line {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 6px;
  background-color: #fff;
  &:last-child{
    margin-bottom: 0;
  }
}

ul.navbar-nav {
  display: none;
}

footer {
  margin-top: 30px;
}

/* Slidebars */

.sb-slidebar {
  //z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
  background-color: #FFFFFF; /* Background colour. */
  color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
  color: #898989;
  text-decoration: none;
}

.sb-slidebar a:hover {
  color: #616161; /* Link hover colour. */
  text-decoration: underline;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
  border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
  border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
  width: 100%; /* Makes links full width. */
  display: inline-block;
  padding: 1em; /* Creates an even padding the same size as your font. */
  color: #f2f2f2;
}

.sb-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* Borders */
.sb-left .sb-menu li a {
  border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
  border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
  border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
  border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
  display: inline-block;
  padding: 14px;
}

.sb-menu li img {
  margin: 14px;
}

/* Right */
aside#about-me {
  padding: 14px 14px 14px 14px;
}

img.img-me {
  margin: 14px auto;
  border: 4px solid #fff;
}

/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
  color: #F0F0F0;
}

.sb-slidebar ul.sb-nav li a {
  color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
  color: #C7C7C7;
  text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
  color: #C7C7C7;
}

/* Anchor Links */
#download, #api, #options, #helper-classes {
  margin-top: -50px;
  padding-top: 50px;
}

/* Helper Classes */
.add-bottom-margin {
  margin-bottom: 15px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.add-top-margin {
  margin-top: 15px;
}

.no-top-margin {
  margin-top: 0;
}

.push-down {
  position: relative;
  top: 2px;
}

@media (max-width: 480px){
  .sb-slidebar.sb-right{
    width: 100%;
  }
}

@media (min-width: 481px){
  .sb-slidebar {
    width: 65%;
    &.sb-right{
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  ul.navbar-nav {
    display: block;
  }

  #logo {
    text-align: left;
  }
  .sb-slidebar {
    width: 50%;
    &.sb-right{
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .sb-slidebar {
    width: 30%;
    &.sb-right{
      width: 60%;
    }
  }
}


@media (min-width: 1200px) {
  .sb-slidebar {
    width: 25%;
    min-width: 300px;
    max-width: 350px;
    &.sb-right{
      width: 50%;
    }
  }
}

#bisma {
  margin: 50px 0;
}

#bisma h2 {
  font-weight: 300;
  color: #f71756;
}

#bisma p {
  font-weight: 300;
  font-size: 15px;
  color: #646a73;
}

#bisma p.lead {
  font-size: 24px;
  color: #646a73;
}

.img-responsive-stretch {
  display: block;
  width: 100%;
  height: auto;
}

#manhattan {

}

#manhattan a {
  text-decoration: none;
}

#manhattan a:hover {
  text-decoration: none;
}

#manhattan #mhtn-img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-image: url('images/manhattan-banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#manhattan p.lead {
  color: #d57597;
  text-align: center;
}